.button {
  color: white;
}

#top-bar{
  margin-top: 20px;
  padding-top: 20px;
}

.playlist-toolbar {
  margin-top:10px;
  /*float:left;*/
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.playlist {
  z-index: 1;
}

#navtoggle {
  float:right;
  margin-right: 20px;
}
